.user{
    width: 100%;
    text-align: center;
}

.user img{
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



.info-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.cadastrar, .turmas, .avisos, .material{
    
}

.icon{
    width: 150px;
    height: 150px;
    background-color: aqua;
    border-radius: 50%;
}