*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.auth{
    width: 50%;
    height: 100vh;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    width: 100%;
    text-align: center;
}

.container{
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #3333994f;
    padding: 2rem;
    position: relative;
    padding-top: 60px;
}

.entrar, .cadastrar{
    position: absolute;
    top: 0;
    background-color: #33339994;
    width: 50%;
    text-align: center;
    padding: 10px 0;
}

.entrar:hover, .cadastrar:hover{
    background-color: #333399;
    cursor: pointer;
}

.entrar{ left: 0; border-right: 1px solid #333399;}
.cadastrar{ right: 0;}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input{
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 5px;
    outline: none;
}

.form button{
    margin-top: 10px;
    padding: 5px 10px;
}

.imagem{
    width: 50%;
    height: 100vh;
    float: right;
}

.imagem img{
    width: 80%;
}

























/* TELA DE CARREGAMENTO */  
.spinner-wrapper{
    width: 100%;
    height: 100%;
    background-color: #151515;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.spinner::before,
.spinner:after{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.spinner:before {
    width: 100%;
    height: 100%;
    background-image:linear-gradient(90deg, #ff00cc 0%,#333399 100% );
    animation: spin .5s infinite linear;
}
.spinner:after {
    width: 90%;
    height: 90%;
    background-color: #151515;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }

}

