*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--txt-color);
}
/* 
body{

} */

:root{
    --border: #707070;
    --txt-color: #707070;
    --link-color: #7B98DB;
    --txt-font: "Segoe UI";
    --bg-avisos: #F3E8FF;
    --box-shadow: #00000033;
}

html,body{
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    font-family: var(--txt-font);
}

.header{
    position: static;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    border-bottom: 1px solid var(--border);
    font-family: var(--txt-font);
    font-size: 26px;
}

.screen{
    width: 100%;
    height: 100vh;
    padding: 2rem ;
    display: block;
    box-sizing: border-box;
}

.container-materia{
    border: 1px solid var(--border);
    padding: 3rem;
    width: 70%;
    height: 100%;
    float: left;
    display: block;
    box-sizing: border-box;
    overflow: auto;
}

.container-materia h1{
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 3rem;
}

.container-materia a{
    margin-bottom: 1rem;
    display: block;
    font-size: 24px;
    color: var(--link-color);
}

.container-grid{
    margin-top: 3rem;
    display: grid;
    grid-template: auto auto auto/ auto auto auto;
    gap: 1rem;
}

.container-grid > div{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    border: 1px solid var(--border);
    box-shadow: 0 3px 6px var(--box-shadow);
}

.container-grid > div:hover{
    background-color: var(--bg-avisos);
}

.container-avisos{
    border: 1px solid var(--border);
    padding: 3rem;
    text-align: center;
    background-color: var(--bg-avisos);
    min-width: 300px;
    width: 20%;
    float: right;
}

.container-avisos h2{
    margin-bottom: 3rem;
}

.card-avisos{
    padding: 1rem;
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 1rem;
}

/* DISPLAY NONE */
div[name=hidden-classes]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.397);  
    display: none;
}

.container-class{
    width: 60%;
    border: 1px solid var(--border);
    background-color: white;
    padding: 2rem;
    overflow: auto;
    box-sizing: border-box; 
}

.container-class a{
    margin-bottom: 0.5rem;
    display: block;
    color: var(--link-color);
}

.container-problems{
    padding: 1rem;
    border: 1px solid var(--border);
}


ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 0px;
}
